<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>About</title>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
		<!-- JavaScript -->
		<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
	</head>

	<body>
		<h1>Rango says ...</h1>
		<div>
			here is the about page <br>
			<strong>{{myvar}}</strong><br>

		</div>
		<div>This tutorial has been put together by Tala Abd-Alhaleem</div><br>
		<div>
			<a href="/rango/">Index</a><br>
			<img src='{{MEDIA_URL}}cat.jpg' alt="Picture of a Cat" />
			<img src='{% static "images/rangoabout.jpg" %}' alt="picture of rango">
		</div>
	</body>
</html>